
@media (max-width:700px) {

.grille1{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    width: 45%;
    margin-left: 10px;
    margin-right: 10px;

}

}

body{
    background-color: black;
}




.grid-item{
    width: 400px;
display: inline-block;
margin-left: 40px;
margin-bottom: 20px;
}




h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}




